{% extends "layout.html" %}

{% block favorite_items %}
<div class="container">
      {% for item in favorites %}
      <div class="card" style="width: 15rem;">
        <img src="/static/{{item.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.item_name}}</h5>
          <p class="card-title">{{item.price}}</p>
          <p class="card-text">{{item.item_description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
