{% extends "layout.html" %}

{% block cards %}
<div class="container">
      {% for item in items %}
      <div class="card" style="width: 15rem;">
        <img src="/static/{{item.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.item_name}}</h5>
          <p class="card-title">{{item.price}}</p>
          <p class="card-text">{{item.item_description}}</p>
          <div class="buttons">
            <form action="/cart/{{item.item_id}}" id="cart" method="post">
              <button class="btn btn-primary" type="submit" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Add To Cart</button>
            </form>
            <form action="/favorites/{{item.item_id}}" method="post">
              <button class="invis-btn"><i class="{{item.class}}" id="heart"></i></button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
